#hero-section {
	.sc-container {
		position: relative;

		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			width: 100%;
			height: 100%;

			background: radial-gradient(
				circle,
				theme("colors.azure.900") 10%,
				transparent 11%
			);
			background-size: 3rem 3rem;
			background-color: transparent;
			background-attachment: fixed;
			opacity: 0.05;

			mask: radial-gradient(
				circle at center,
				#000000ff 0% calc(100% - 20rem),
				#00000000
			);
		}
	}
}

#stats-section {
	.sc-container {
		.stats-grid {
			@apply grid gap-5 justify-center;

			grid-template-columns: repeat(1, minmax(auto, theme("width.60")));
			@media screen {
				@media (min-width: theme("screens.xs")) {
					grid-template-columns: repeat(2, minmax(auto, theme("width.60")));
				}
				@media (min-width: theme("screens.lg")) {
					grid-template-columns: repeat(4, minmax(auto, theme("width.60")));
				}
			}
			.stats-item {
				@apply flex flex-col gap-4 items-center;
				.count {
					@apply text-4xl lg:text-5xl text-azure-700;
				}
				.label {
					@apply text-base text-center;
				}
			}
		}
	}
}

#services-section {
	.sc-container {
		.services-list {
			@apply flex flex-row flex-wrap justify-center items-stretch gap-5;
			.service-item {
				@apply w-72 p-4 bg-gradient-to-b from-azure-50 to-azure-100 bg-[length:100%_200%]
        bg-top hover:bg-bottom transition-all rounded border border-azure-200
        flex flex-col gap-4 items-center;

				> .icon {
					@apply fill-azure-700;
					svg {
						@apply size-16 md:size-20;
					}
				}

				&:hover > .icon {
					@apply fill-azure-600;
				}

				.title {
					@apply text-center text-xl md:text-2xl;
				}

				&:hover .title {
					@apply text-azure-500;
				}

				.description {
					@apply text-sm flex-grow text-center;
				}

				.service-cta {
				}
			}
		}
	}
}

#testimonials-section {
	.sc-container {
		#testimonials-wrapper {
			.testimonials-list {
				@apply w-full flex flex-row;
				.testimonials-entry {
					@apply w-72 min-w-72 p-4 bg-gradient-to-b from-azure-600 to-azure-800 text-gray-50
          rounded flex flex-col gap-4;

					.profile {
						@apply flex flex-row gap-2 items-center;

						.visual {
							img {
								@apply size-20 object-cover bg-azure-50 rounded-full border border-azure-950;
							}
						}

						.text {
							.name {
								@apply text-azure-50 font-bold text-base;
							}
							.description {
								@apply text-azure-100 text-sm;
							}
						}
					}

					.review {
						@apply text-sm italic text-gray-50/90;
						.opening-quote {
							@apply text-3xl leading-none not-italic text-gray-50;
						}
					}
				}
			}
		}
	}
}

#page-footer {
	.sc-container {
		ul.socials-list {
			@apply flex flex-row gap-2;
			.socials-entry {
				.social-link {
					@apply fill-gray-50 hover:fill-gold-400;
					svg {
						@apply size-10;
					}
				}
			}
		}
	}
}
